.nav-margin-top{
    margin-top:75px;
}
.myAlert-bottom{
    position: fixed;
    bottom: 50px;
    left:2%;
    width: 96%;
}
.alert{
    display:none;
}
.containerLogo{
    max-height:450px;
    width:auto;
}
.containerLogo > img {
    width: 100%;
}
.navLogo{
    width:75px;
    height:auto;
}
/*.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center-text {
    text-align: center;    
} 

.center-div {
    margin: auto;
    border:1px solid black;
} 

.logo-size{
    width:375px;
    height:225px;
    max-height:375px;
    height:auto;
}*/