<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>   
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Confirmation email</title>
    <style type="text/css">
      
      /* Default CSS */
      body,#body_style {margin: 0; padding: 0; background: #f1f1f1; color: #5b656e;}
      a {color: #09c;}
      a img {border: none; text-decoration: none;}
      table, table td {border-collapse: collapse;}
      td, h1, h2, h3, p {font-family: arial, helvetica, sans-serif; color: #313a42;}
      h1, h2, h3, h4 {color: #313a42 !important; font-weight: normal; line-height: 1.2;}
      h1 {font-size: 24px;}
      h2 {font-size: 18px;}
      h3 {font-size: 16px;}
      p {margin: 0 0 1.6em 0;}
      
      /* Force Outlook to provide a "view in browser" menu link. */
      #outlook a {padding:0;}
      
      /* Preheader */
      .preheader {background-color: #f6f6f6;}
      
      /* Whitespace (imageless spacer) */
      .whitespace {font-family: 0px; line-height: 0px;}
      
      /* Button */
      .buttonContainer {padding: 10px 20px 10px 20px;}
      .button {padding: 10px 5px 10px 5px; text-align: center; background-color: #ff6b6b; border-radius: 4px;}
      .button a {color: #ffffff; text-decoration: none; display: block; text-transform: uppercase;}
      
      /* Featured content */
      .featuredContent {color: #ffffff;}
      
      /* One horizontal section of content: e.g. */
      .sectionOdd {background-color: #f1f1f1;}
      .sectionEven {background-color: #ffffff;}
      .sectionOdd, .sectionEven {padding: 30px 0px 30px 0px;}
      
      /* An article */
      .sectionArticleImage {text-align: center;}
      .sectionArticleImage img {padding: 0px 0px 0px 0px; -ms-interpolation-mode: bicubic;}
      
      
      .sectionTitle, .sectionSubTitle{text-align: center;}
      .sectionTitle {font-size: 26px; padding: 0px 10px 10px 10px}
      .sectionSubTitle {padding: 0px 10px 20px 10px;}
      
      /* Footer */
      .socialMedia {background: #556270;}
      
      
      /* CSS for specific screen width(s) */
      @media only screen and (max-width: 480px) {
        body,table,td,p,a,li,blockquote {-webkit-text-size-adjust:none !important;}
          body[yahoofix] table {width: 100% !important;}
          body[yahoofix] body[yahoofix] .featuredContent {text-align: center;}
          body[yahoofix] .sectionArticleImage img {height: auto !important; max-width: 100% !important;}
          body[yahoofix] .buttonContainer {padding: 0px 20px 0px 20px;}
          body[yahoofix] .column {float: left; width: 100%;}
          body[yahoofix] .featuredContent {padding: 0px 10px 20px 10px;}
        }
    </style>
  </head>
  <body yahoofix>
    <span id="body_style" style="display:block">
    
      <!-- Section -->
      <table border="0" cellpadding="0" cellspacing="0" width="100%" summary="">
        <tr>
          <td class="sectionOdd">
            <table border="0" cellpadding="0" cellspacing="0" width="640" align="center" summary="">
              <tr>
                <td class="column" valign="top">
                  <table border="0" cellpadding="0" cellspacing="0" width="200" align="center" summary="">
                    <tr>
                      <td class="sectionArticleImage">
                        <img src="https://whappytesting.000webhostapp.com/images/logo-medium.png" width="400" alt="" />
                      </td>
                    </tr>
                    </table>
                </td>
                
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <table border="0" cellpadding="0" cellspacing="0" width="100%" summary="" >
        <tr>
          <td class="sectionEven">
            <table border="0" cellpadding="0" cellspacing="0" width="640" align="center" summary="">
              <tr><td class="sectionTitle">{{headLine}}</td></tr>
              <tr><td class="sectionSubTitle">{{couponLine}}</td></tr>
              <tr>
                <td class="buttonContainer">
                  <table border="0" cellpadding="0" cellspacing="0" summary="" width="30%" align="center">
                    <tr><td class="button"><a href="{{url}}" title="{{subject}}">Conferma registrazione</a></td></tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

      <!-- End Section -->
      
      <!-- Social media -->
      <table border="0" cellspacing="0" cellpadding="0" width="100%" summary="" class="socialMedia" style="position: absolute;bottom:0px;">
        <tr><td class="whitespace" height="20">&nbsp;</td></tr>
        <tr>
          <td>
            <table border="0" cellpadding="0" cellspacing="0" width="640" align="center" summary="">
              <tr><td align="center" class="featuredContent">© 2019 Copyright: whappytesting.000webhostapp.com</td></tr>
            </table>
          </td>
        </tr>
        <tr><td class="whitespace" height="50">&nbsp;</td></tr>
      </table>
      <!-- End Social media -->
    </span>
  </body>
</html>